Repository mkesani1/ivts-website-u56vwu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @indivillage/tech-leads, @indivillage/documentation-team, @indivillage/backend-team, @indivillage/security-team, @indivillage/api-team, @indivillage/frontend-team, @indivillage/ui-team, @indivillage/devops-team, @indivillage/qa-team

.github/CODEOWNERS:

# Format: file_pattern owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @indivillage/tech-leads

# Documentation team owns all markdown files
*.md @indivillage/documentation-team

# Backend team owns all backend code
src/backend/ @indivillage/backend-team

# Security team co-owns security-related backend code
src/backend/app/security/ @indivillage/security-team @indivillage/backend-team

# API team co-owns API-related backend code
src/backend/app/api/ @indivillage/api-team @indivillage/backend-team

# Frontend team owns all web code
src/web/ @indivillage/frontend-team

# UI team co-owns component code
src/web/src/components/ @indivillage/ui-team @indivillage/frontend-team

# DevOps team owns all infrastructure code
infrastructure/ @indivillage/devops-team

# DevOps team owns CI/CD workflow configurations
.github/workflows/ @indivillage/devops-team

# Tech leads own the CODEOWNERS file itself
.github/CODEOWNERS @indivillage/tech-leads

# Documentation team owns all documentation files
docs/ @indivillage/documentation-team

# Security team co-owns security documentation
docs/security/ @indivillage/security-team @indivillage/documentation-team

# Tech leads co-own architecture documentation
docs/architecture.md @indivillage/tech-leads @indivillage/documentation-team

# Security team co-owns security tests
src/backend/tests/security/ @indivillage/security-team @indivillage/backend-team

# QA team co-owns frontend tests
src/web/tests/ @indivillage/qa-team @indivillage/frontend-team

# QA team co-owns backend tests
src/backend/tests/ @indivillage/qa-team @indivillage/backend-team

# Frontend and security teams co-own package dependencies
package.json @indivillage/frontend-team @indivillage/security-team

# Backend and security teams co-own Python dependencies
src/backend/requirements*.txt @indivillage/backend-team @indivillage/security-team

Add public-samples/ivts-website-u56vwu/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/.env.example
  src/backend/.env.example
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/.gitignore
  src/backend/.gitignore
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/README.md
  src/backend/README.md
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/config.py
  src/backend/config.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/pytest.ini
  src/backend/pytest.ini
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/requirements-dev.txt
  src/backend/requirements-dev.txt
Owners: @indivillage/backend-team, @indivillage/security-team

Add public-samples/ivts-website-u56vwu/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @indivillage/backend-team, @indivillage/security-team

Add public-samples/ivts-website-u56vwu/src/backend/setup.py
  src/backend/setup.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/wsgi.py
  src/backend/wsgi.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/__init__.py
  src/backend/app/__init__.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/extensions.py
  src/backend/app/extensions.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/main.py
  src/backend/app/main.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/__init__.py
  src/backend/app/api/__init__.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/errors.py
  src/backend/app/api/errors.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/routes.py
  src/backend/app/api/routes.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/validators.py
  src/backend/app/api/validators.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/__init__.py
  src/backend/app/api/v1/__init__.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/endpoints/__init__.py
  src/backend/app/api/v1/endpoints/__init__.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/endpoints/case_studies.py
  src/backend/app/api/v1/endpoints/case_studies.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/endpoints/contact.py
  src/backend/app/api/v1/endpoints/contact.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/endpoints/demo_request.py
  src/backend/app/api/v1/endpoints/demo_request.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/endpoints/impact_stories.py
  src/backend/app/api/v1/endpoints/impact_stories.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/endpoints/quote_request.py
  src/backend/app/api/v1/endpoints/quote_request.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/endpoints/services.py
  src/backend/app/api/v1/endpoints/services.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/endpoints/uploads.py
  src/backend/app/api/v1/endpoints/uploads.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/models/__init__.py
  src/backend/app/api/v1/models/__init__.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/models/case_study.py
  src/backend/app/api/v1/models/case_study.py
Owners: @indivillage/api-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/app/api/v1/models/file_upload.py
  src/backend/app/api/v1/models/file_upload.py
Owners: @indivillage/api-team, @indivillage/backend-team
