Repository mkesani1/ivts-website-u56vwu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @indivillage/tech-leads, @indivillage/documentation-team, @indivillage/backend-team, @indivillage/security-team, @indivillage/api-team, @indivillage/frontend-team, @indivillage/ui-team, @indivillage/devops-team, @indivillage/qa-team

Add public-samples/ivts-website-u56vwu/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/.github/workflows/cd-development.yml
  .github/workflows/cd-development.yml
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/.github/workflows/cd-production.yml
  .github/workflows/cd-production.yml
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/.github/workflows/cd-staging.yml
  .github/workflows/cd-staging.yml
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/.github/workflows/dependency-updates.yml
  .github/workflows/dependency-updates.yml
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @indivillage/devops-team

Add public-samples/ivts-website-u56vwu/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/README.md
  docs/README.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/architecture.md
  docs/architecture.md
Owners: @indivillage/tech-leads, @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/backend/README.md
  docs/backend/README.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/backend/api.md
  docs/backend/api.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/backend/database.md
  docs/backend/database.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/backend/file-processing.md
  docs/backend/file-processing.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/backend/security.md
  docs/backend/security.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/backend/services.md
  docs/backend/services.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/deployment/README.md
  docs/deployment/README.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/deployment/ci-cd.md
  docs/deployment/ci-cd.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/deployment/environments.md
  docs/deployment/environments.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/development/getting-started.md
  docs/development/getting-started.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/development/security.md
  docs/development/security.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/development/standards.md
  docs/development/standards.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/development/testing.md
  docs/development/testing.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/development/workflows.md
  docs/development/workflows.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/infrastructure/README.md
  docs/infrastructure/README.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/infrastructure/aws.md
  docs/infrastructure/aws.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/infrastructure/network.md
  docs/infrastructure/network.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/infrastructure/security.md
  docs/infrastructure/security.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/integrations/aws.md
  docs/integrations/aws.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/integrations/contentful.md
  docs/integrations/contentful.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/integrations/hubspot.md
  docs/integrations/hubspot.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/operations/backup-restore.md
  docs/operations/backup-restore.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/operations/disaster-recovery.md
  docs/operations/disaster-recovery.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/operations/monitoring.md
  docs/operations/monitoring.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/web/README.md
  docs/web/README.md
Owners: @indivillage/documentation-team

Add public-samples/ivts-website-u56vwu/docs/web/accessibility.md
  docs/web/accessibility.md
Owners: @indivillage/documentation-team

.github/CODEOWNERS:

# Format: file_pattern owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @indivillage/tech-leads

# Documentation team owns all markdown files
*.md @indivillage/documentation-team

# Backend team owns all backend code
src/backend/ @indivillage/backend-team

# Security team co-owns security-related backend code
src/backend/app/security/ @indivillage/security-team @indivillage/backend-team

# API team co-owns API-related backend code
src/backend/app/api/ @indivillage/api-team @indivillage/backend-team

# Frontend team owns all web code
src/web/ @indivillage/frontend-team

# UI team co-owns component code
src/web/src/components/ @indivillage/ui-team @indivillage/frontend-team

# DevOps team owns all infrastructure code
infrastructure/ @indivillage/devops-team

# DevOps team owns CI/CD workflow configurations
.github/workflows/ @indivillage/devops-team

# Tech leads own the CODEOWNERS file itself
.github/CODEOWNERS @indivillage/tech-leads

# Documentation team owns all documentation files
docs/ @indivillage/documentation-team

# Security team co-owns security documentation
docs/security/ @indivillage/security-team @indivillage/documentation-team

# Tech leads co-own architecture documentation
docs/architecture.md @indivillage/tech-leads @indivillage/documentation-team

# Security team co-owns security tests
src/backend/tests/security/ @indivillage/security-team @indivillage/backend-team

# QA team co-owns frontend tests
src/web/tests/ @indivillage/qa-team @indivillage/frontend-team

# QA team co-owns backend tests
src/backend/tests/ @indivillage/qa-team @indivillage/backend-team

# Frontend and security teams co-own package dependencies
package.json @indivillage/frontend-team @indivillage/security-team

# Backend and security teams co-own Python dependencies
src/backend/requirements*.txt @indivillage/backend-team @indivillage/security-team
