Repository mkesani1/ivts-website-u56vwu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @indivillage/tech-leads, @indivillage/documentation-team, @indivillage/backend-team, @indivillage/security-team, @indivillage/api-team, @indivillage/frontend-team, @indivillage/ui-team, @indivillage/devops-team, @indivillage/qa-team

.github/CODEOWNERS:

# Format: file_pattern owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @indivillage/tech-leads

# Documentation team owns all markdown files
*.md @indivillage/documentation-team

# Backend team owns all backend code
src/backend/ @indivillage/backend-team

# Security team co-owns security-related backend code
src/backend/app/security/ @indivillage/security-team @indivillage/backend-team

# API team co-owns API-related backend code
src/backend/app/api/ @indivillage/api-team @indivillage/backend-team

# Frontend team owns all web code
src/web/ @indivillage/frontend-team

# UI team co-owns component code
src/web/src/components/ @indivillage/ui-team @indivillage/frontend-team

# DevOps team owns all infrastructure code
infrastructure/ @indivillage/devops-team

# DevOps team owns CI/CD workflow configurations
.github/workflows/ @indivillage/devops-team

# Tech leads own the CODEOWNERS file itself
.github/CODEOWNERS @indivillage/tech-leads

# Documentation team owns all documentation files
docs/ @indivillage/documentation-team

# Security team co-owns security documentation
docs/security/ @indivillage/security-team @indivillage/documentation-team

# Tech leads co-own architecture documentation
docs/architecture.md @indivillage/tech-leads @indivillage/documentation-team

# Security team co-owns security tests
src/backend/tests/security/ @indivillage/security-team @indivillage/backend-team

# QA team co-owns frontend tests
src/web/tests/ @indivillage/qa-team @indivillage/frontend-team

# QA team co-owns backend tests
src/backend/tests/ @indivillage/qa-team @indivillage/backend-team

# Frontend and security teams co-own package dependencies
package.json @indivillage/frontend-team @indivillage/security-team

# Backend and security teams co-own Python dependencies
src/backend/requirements*.txt @indivillage/backend-team @indivillage/security-team

Add public-samples/ivts-website-u56vwu/src/backend/migrations/README.md
  src/backend/migrations/README.md
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/migrations/env.py
  src/backend/migrations/env.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/scripts/__init__.py
  src/backend/scripts/__init__.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/scripts/db_backup.py
  src/backend/scripts/db_backup.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/scripts/generate_api_docs.py
  src/backend/scripts/generate_api_docs.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/scripts/performance_test.py
  src/backend/scripts/performance_test.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/scripts/seed_data.py
  src/backend/scripts/seed_data.py
Owners: @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/test_config.py
  src/backend/tests/test_config.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/api/__init__.py
  src/backend/tests/api/__init__.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/api/test_case_studies.py
  src/backend/tests/api/test_case_studies.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/api/test_contact.py
  src/backend/tests/api/test_contact.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/api/test_demo_request.py
  src/backend/tests/api/test_demo_request.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/api/test_impact_stories.py
  src/backend/tests/api/test_impact_stories.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/api/test_quote_request.py
  src/backend/tests/api/test_quote_request.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/api/test_services.py
  src/backend/tests/api/test_services.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/api/test_uploads.py
  src/backend/tests/api/test_uploads.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/integrations/__init__.py
  src/backend/tests/integrations/__init__.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/integrations/test_aws_s3.py
  src/backend/tests/integrations/test_aws_s3.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/integrations/test_contentful.py
  src/backend/tests/integrations/test_contentful.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/integrations/test_hubspot.py
  src/backend/tests/integrations/test_hubspot.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/integrations/test_sendgrid.py
  src/backend/tests/integrations/test_sendgrid.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/security/__init__.py
  src/backend/tests/security/__init__.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/security/test_captcha.py
  src/backend/tests/security/test_captcha.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/security/test_file_scanner.py
  src/backend/tests/security/test_file_scanner.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/security/test_input_validation.py
  src/backend/tests/security/test_input_validation.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/services/__init__.py
  src/backend/tests/services/__init__.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/services/test_content_service.py
  src/backend/tests/services/test_content_service.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/services/test_crm_service.py
  src/backend/tests/services/test_crm_service.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/services/test_email_service.py
  src/backend/tests/services/test_email_service.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/services/test_file_processing_service.py
  src/backend/tests/services/test_file_processing_service.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/services/test_file_upload_service.py
  src/backend/tests/services/test_file_upload_service.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/services/test_form_processing_service.py
  src/backend/tests/services/test_form_processing_service.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/utils/__init__.py
  src/backend/tests/utils/__init__.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/utils/test_file_utils.py
  src/backend/tests/utils/test_file_utils.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/utils/test_security_utils.py
  src/backend/tests/utils/test_security_utils.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/backend/tests/utils/test_validation_utils.py
  src/backend/tests/utils/test_validation_utils.py
Owners: @indivillage/qa-team, @indivillage/backend-team

Add public-samples/ivts-website-u56vwu/src/web/.env.example
  src/web/.env.example
Owners: @indivillage/frontend-team

Add public-samples/ivts-website-u56vwu/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @indivillage/frontend-team
